<?xml version="1.0" encoding="UTF-8"?>

<phpunit colors="true" backupGlobals="false" bootstrap="Bootstrap.php">
    <testsuites>
        <testsuite name="WPBase">
            <directory>./WPBaseTest</directory>
        </testsuite>
    </testsuites>

    <!-- Code Coverage Configuration -->
    <filter>
        <whitelist>
            <directory suffix=".php">../</directory>
            <exclude>
                <file>../Module.php</file>
                <directory>../languageArray</directory>
                <directory>../config</directory>
                <directory>../test</directory>
            </exclude>
        </whitelist>
    </filter>

    <logging>
        <log type="coverage-html" target="_reports/coverage" title="Modulo WPAgenda" charset="UTF-8" yui="true" highlight="true" lowUpperBound="35" highLowerBound="90"/>
        <log type="testdox-text" target="_reports/testdox/executed.txt"/>
    </logging>
</phpunit>